# auth
NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET=hlBP8sxgpYovcZDd1pwbZiuQsKhe3zkQ

# google
GOOGLE_ID=915313764511-4f0nvulcogjlf3g1jovh8ac7bqo74ps1.apps.googleusercontent.com
GOOGLE_SECRET=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

#api
NEXT_PUBLIC_BASE_URL=http://87.107.111.109:8000/api/v1/