/* improt tailwindcss */
@import "tailwindcss";
@layer theme, components;

/* improt fonts */
@import "./fonts.css";

/* improt theme */
@import "./theme.css" layer(theme);

/* import components */
@import "./components.css" layer(components);

.inputCalander {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
}
