@theme {
  /* fonts */
  --font-kalameh: "Kalameh";
  --font-shabnam: "Shabnam";

  /* colors */
  --color-text-primary: #222222;
  --color-white-primary: #ffffff;
  --color-yellow-gold: #dab451;
  --color-box-primary: #f0f0f0;
  --color-errors: #b3261e;
  --color-primary: #0040d8;
  --color-liner-primary: #1c274c;
  --color-background-box-manager: #360093;
  --color-backgrdound-box-green: #035d36;
  --color-schemes-error: #b3261e;
}
