@theme {
  /* fonts */
  --font-kalameh: "Kalameh";
  --font-shabnam: "Shabnam";

  /* colors */
  --color-text-primary: #222222;
  --color-white-primary: #ffffff;
  --color-yellow-gold: #dab451;
  --color-box-primary: #f0f0f0;
}
